
<h1>Stocks</h1>

<button (click)="newStock()">New Stock</button>

<br />
<br />

<table>
  <thead>
    <th>Stock</th>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks">
      <td>{{ stock.name }}</td>
      <td><button (click)="editStock(stock)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-stock [stock]="stock" (stocksUpdated)="updateStockList($event)"></app-stock>

<hr />

<h1>Options</h1>

<button (click)="newOption()">New Option</button>

<br />
<br />

<table>
  <thead>
    <th>Stock</th>
    <th>Option</th>
  </thead>
  <tbody>
    <tr *ngFor="let option of options">
      <td>{{ option.stock?.name }}</td>
      <td>{{ option.name }}</td>
      <td><button (click)="editOption(option)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-option [option]="option" [stocks]="stocks" (optionsUpdated)="updateOptionList($event)"></app-option>